/* Comfortaa */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* ⛔⛔ ШАПКА ⛔⛔*/
.navigation {
  display: flex;
  justify-content: space-between;
  background: #010a1d;
  padding: 10px 10px;
}
/* ЛОГОТИП */
.logo {
  border-radius: 50%;
  box-shadow: #a28f6c 0 0 10px;
}
.logo:hover {
  transition: 1s;
  rotate: 360deg;
}
/* ТЕКСТ НАВИГАЦИИ */
.main-text {
  border-bottom: 3px solid #ffa600;
  padding-bottom: 10px;
}
.nav-text {
  padding-top: 10px;
  color: white;
  font-family: Roboto Mono;
}
.nav-text:hover {
  transition: 0.3s;
  color: #ffa600;
}
/* РЕГИСТРАЦИЯ */
.profile {
  border-radius: 50%;
  border: 1px solid white;
  background: #ffffff;
}
/* ⛔⛔ МЭИН ⛔⛔*/
main {
  padding: 200px 50px;
  padding-bottom: 1000px;
}
/* ОПИСАНИЕ */
.description {
  position: absolute;
  left: 400px;
  right: 100px;
  bottom: 120px;
  color: black;
  font-size: 22px;
  font-family: Roboto Mono;
}
/* ПЕРВАЯ КНОПКА */
.btn-download {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  position: absolute;
  left: 550px;
  top: 640px;
  background: #26ff00;
  color: #000000;
  border-radius: 15px;
  font-family: Roboto Mono;
}
.btn-download:hover {
  transition: 0.3s;
  color: white;
  font-size: 24px;
  width: 170px;
  height: 70px;
  background-image: url(/img/googleplay.png);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: #b2ffa4 0 0 50px;
}
/* ВТОРАЯ КНОПКА */
.btn-PC {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  position: absolute;
  left: 800px;
  top: 640px;
  background: #ff982a;
  color: #000000;
  border-radius: 15px;
  font-family: Roboto Mono;
}
.btn-PC:hover {
  transition: 0.5s;
  background-image: url(/img/PC.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: #ff982a 0 0 10px;
  width: 170px;
  height: 70px;
}
/* 3 СЕКЦИЯ - КИБЕРСПОРТ */
.cybersport {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 300px;
}
.cyber-h1 {
  position: absolute;
  font-size: 80px;
  font-family: Roboto Mono;
  left: 420px;
  top: 760px;
}
/* КЛАНЫ */
.clans {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 500px;
  background: #f2ff00;
  color: #000000;
  border-radius: 15px;
  font-family: Roboto Mono;
}
.clans:hover {
  transition: 1s;
  scale: 1.1;
  background: #787878;
  font-weight: bold;
  box-shadow: #787878 0 0 20px;
  background-image: url(/img/town.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: contain;
}
/* ИГРОКИ */
.players {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 500px;
  background: url(/img/SkinPlayer.jpg);
  background-position: center;
  color: #ffffff;
  border-radius: 15px;
  font-family: Roboto Mono;
}
.players:hover {
  transition: 1s;
  scale: 1.1;
  background: #ff0000;
  font-weight: bold;
  color: #000000;
  box-shadow: #787878 0 0 20px;
  background-image: url(/img/icon/players.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 30%;
}
/* ТУРНИРЫ */
.conqeror {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 500px;
  background: #c0aa03;
  color: #000000;
  border-radius: 15px;
  font-family: Roboto Mono;
}
.conqeror:hover {
  transition: 1s;
  scale: 1.1;
  background: #ffea00;
  font-weight: bold;
  color: white;
  box-shadow: #787878 0 0 20px;
  background-image: url(/img/sword.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}
/* ТОП КЛАНОВ */
.List-clans {
  padding: 100px 0;
}
.name-TOP-clans {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-bottom: 30px;
}
/* TOP 1 */
.FIRST {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: #fff700; */
  background: #69696950;
  font-family: Roboto Mono;
  box-shadow: #4d4d4d 8px 4px 10px;
  /* border: 6px solid #ffef10; */
}
.place1 {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  font-size: 30px;
  /* background: #f2ff00; */
  font-weight: bold;
  color: white;
  box-shadow: #4d4d4d 0 0 10px;
}
.img-FIRST {
  border-radius: 50%;
  border: 4px solid rgb(255, 255, 255);
}
.FIRST-name {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: bold;
}
/* TOP 2 */
.TWO {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: #9b9b9b; */
  background: #69696950;
  font-family: Roboto Mono;
  box-shadow: #4d4d4d 8px 4px 10px;
  /* border: 6px solid #b3b2b2; */
}
.place2 {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  font-size: 30px;
  /* background: #a0a0a0; */
  font-weight: bold;
  color: white;
  box-shadow: #4d4d4d 0 0 10px;
}
.img-TWO {
  border-radius: 50%;
  border: 3px solid white;
}
.TWO-name {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: bold;
}
/* TOP 3 */
.THREE {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: #845401; */
  background: #69696950;
  font-family: Roboto Mono;
  box-shadow: #4d4d4d 8px 4px 10px;
  /* border: 6px solid #a77201; */
}
.place3 {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  font-size: 30px;
  /* background: #a76d02; */
  font-weight: bold;
  color: white;
  box-shadow: #4d4d4d 0 0 10px;
}
.img-THREE {
  border-radius: 50%;
  border: 2px solid white;
}
.THREE-name {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: bold;
}
/* TOP 4 */
.FOUR {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #69696950;
  font-family: Roboto Mono;
  padding: 3px;
  box-shadow: #4d4d4d 8px 4px 10px;
}
.place4 {
  display: flex;
  justify-content: center;
  width: 45px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.img-FOUR {
  border-radius: 50%;
}
.FOUR-name {
  color: rgb(255, 255, 255);
  font-size: 36px;
}
/* TOP 5 */
.FIVE {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #69696950;
  font-family: Roboto Mono;
  box-shadow: #4d4d4d 8px 4px 10px;
  padding: 3px;
}
.place5 {
  display: flex;
  justify-content: center;
  width: 45px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.img-FIVE {
  border-radius: 50%;
}
.FIVE-name {
  color: rgb(255, 255, 255);
  font-size: 36px;
}
/* TOP 6 */
.SIX {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #69696950;
  font-family: Roboto Mono;
  box-shadow: #4d4d4d 8px 4px 10px;
  padding: 3px;
}
.place6 {
  display: flex;
  justify-content: center;
  width: 45px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.img-SIX {
  border-radius: 50%;
}
.SIX-name {
  color: rgb(255, 255, 255);
  font-size: 36px;
}
/* TOP 7 */
.SEVEN {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #69696950;
  font-family: Roboto Mono;
  box-shadow: #4d4d4d 8px 4px 10px;
  padding: 3px;
}
.place7 {
  display: flex;
  justify-content: center;
  width: 45px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.img-SEVEN {
  border-radius: 50%;
}
.SEVEN-name {
  color: rgb(255, 255, 255);
  font-size: 36px;
}
/* TOP 8 */
.EIGHT {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #69696950;
  font-family: Roboto Mono;
  box-shadow: #4d4d4d 8px 4px 10px;
  padding: 3px;
}
.place8 {
  display: flex;
  justify-content: center;
  width: 45px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.img-EIGHT {
  border-radius: 50%;
}
.EIGHT-name {
  color: rgb(255, 255, 255);
  font-size: 36px;
}
/* TOP 9 */
.NINE {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #69696950;
  font-family: Roboto Mono;
  box-shadow: #4d4d4d 8px 4px 10px;
  padding: 3px;
}
.place9 {
  display: flex;
  justify-content: center;
  width: 45px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.img-NINE {
  border-radius: 50%;
}
.NINE-name {
  color: rgb(255, 255, 255);
  font-size: 36px;
}
/* TOP 10 */
.TEN {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #69696950;
  font-family: Roboto Mono;
  box-shadow: #4d4d4d 8px 4px 10px;
  padding: 3px;
}
.place10 {
  display: flex;
  justify-content: center;
  width: 45px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.img-TEN {
  border-radius: 50%;
}
.TEN-name {
  color: rgb(255, 255, 255);
  font-size: 36px;
}
.information {
  padding-left: 1200px;
} 
/* ⛔⛔ ФУТЕР ⛔⛔*/
footer {
  background: #010a1d;
  padding-top: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
/* СОЦ СЕТИ */
.social {
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
}
.tg:hover {
  transition: 1s;
  scale: 1.2;
  rotate: 360deg;
  opacity: 70%;
}
/* ТЕКСТ */
.f-main-text {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.f-text {
  color: white;
  font-family: Comfortaa;
  font-size: 16px;
}
.copyright {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.589);
  font-family: Comfortaa;
  font-size: 14px;
  padding-bottom: 20px;
}